<div ng-controller="questionCreateCtrl">
    <h1>Create a Question</h1>
    <form>
        <form>
            <div class="form-group">
                <label for="questionInput">Question</label>
                <!--<input type="email" class="form-control" id="question" placeholder="">-->
                <input id="questionInput" placeholder="question" type="text" class="form-control" name="question"  ng-model="item.question" />
            </div>
            <div class="form-group">
                <label for="answerInput">Answer</label>
                <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                <textarea id="answerInput" class="form-control" placeholder="answer" name="answer"  ng-model="item.answer" /> </textarea>
            </div>

            <!--<input type="hidden" name="id" ng-model="item.id" />-->
            <button class="btn btn-primary" ng-click="createQuestion()" type="submit">Submit Changes</button>
        </form>
    </form>
</div>