<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!-- Angular Material Data Table style sheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css">

    <!-- Summernote style sheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

    <script type="text/javascript">
        MagicFAQ = {};
        //        MagicFAQ.baseURL = 'https://apps.doem.washington.edu/questions/v1/';
        MagicFAQ.baseURL = 'http://localhost:7999/v1/';
    </script>

    <link rel="stylesheet" href="includes/style.css">

</head>
<body ng-app="Questions" ng-cloak>


<div ng-controller="AppCtrl" layout="column" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>

            <h2 flex md-truncate>Toolbar with Disabled/Enabled Icon Buttons</h2>

            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <section layout="row" flex>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>

            </md-content>

        </md-sidenav>

        <md-content flex layout-padding>

            <!--<div layout="column" layout-align="top center">-->
                <!--<p>-->
                    <!--The left sidenav will 'lock open' on a medium (>=960px wide) device.-->
                <!--</p>-->
                <!--<p>-->
                    <!--The right sidenav will focus on a specific child element.-->
                <!--</p>-->

                <!--<div>-->
                    <!--<md-button ng-click="toggleLeft()"-->
                               <!--class="md-primary" hide-gt-md>-->
                        <!--Toggle left-->
                    <!--</md-button>-->
                <!--</div>-->

            <!--</div>-->

            <div ng-view></div>

            <div flex></div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>

        </md-sidenav>

    </section>

</div>






<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

<!-- Angular Material Table -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table-templates.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material-icons.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


<!-- Restangular -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

<!-- Summernote-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js"></script>

<!-- Our Application  -->
<script src="includes/app.js"></script>

</body>
</html>






<!--<!DOCTYPE html>-->
<!--<html ng-app="items">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--&lt;!&ndash; The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags &ndash;&gt;-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <!--<title>Starter Template for Bootstrap</title>-->

    <!--<base href="/" />-->

    <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">-->

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->

    <!--&lt;!&ndash; Angular Material requires Angular.js Libraries &ndash;&gt;-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>-->

    <!--&lt;!&ndash; Angular Material Library &ndash;&gt;-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js">-->


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>-->

    <!--&lt;!&ndash; include summernote css/js&ndash;&gt;-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js"></script>-->

    <!--<script src="includes/bootstrap-notify.min.js"></script>-->

    <!--<link rel="stylesheet" href="includes/animate.css">-->

    <!--<script type="text/javascript">-->
        <!--MagicFAQ = {};-->
<!--//        MagicFAQ.baseURL = 'https://apps.doem.washington.edu/questions/v1/';-->
        <!--MagicFAQ.baseURL = 'http://localhost:7999/v1/';-->
    <!--</script>-->
    <!--<script src="includes/auth.js"></script>-->
    <!--&lt;!&ndash;<script src="includes/notify.js"></script>&ndash;&gt;-->
    <!--<script src="includes/app.js"></script>-->

    <!--<link rel="stylesheet" href="includes/style.css">-->
<!--</head>-->

<!--<body style="padding-top:50px;">-->

<!--<div layout="column" style="height:500px;" ng-cloak>-->

    <!--<section layout="row" flex>-->

        <!--<md-sidenav-->
                <!--class="md-sidenav-left"-->
                <!--md-component-id="left"-->
                <!--md-is-locked-open="$mdMedia('gt-md')"-->
                <!--md-whiteframe="4">-->

            <!--<md-toolbar class="md-theme-indigo">-->
                <!--<h1 class="md-toolbar-tools">Sidenav Left</h1>-->
            <!--</md-toolbar>-->
            <!--<md-content layout-padding ng-controller="LeftCtrl">-->
                <!--<md-button ng-click="close()" class="md-primary" hide-gt-md>-->
                    <!--Close Sidenav Left-->
                <!--</md-button>-->
                <!--<p hide show-gt-md>-->
                    <!--This sidenav is locked open on your device. To go back to the default behavior,-->
                    <!--narrow your display.-->
                <!--</p>-->
            <!--</md-content>-->

        <!--</md-sidenav>-->

        <!--<md-content flex layout-padding>-->

            <!--<div layout="column" layout-align="top center">-->
                <!--<p>-->
                    <!--The left sidenav will 'lock open' on a medium (>=960px wide) device.-->
                <!--</p>-->
                <!--<p>-->
                    <!--The right sidenav will focus on a specific child element.-->
                <!--</p>-->

                <!--<div>-->
                    <!--<md-button ng-click="toggleLeft()"-->
                               <!--class="md-primary" hide-gt-md>-->
                        <!--Toggle left-->
                    <!--</md-button>-->
                <!--</div>-->

                <!--<div>-->
                    <!--<md-button ng-click="toggleRight()"-->
                               <!--ng-hide="isOpenRight()"-->
                               <!--class="md-primary">-->
                        <!--Toggle right-->
                    <!--</md-button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div flex></div>-->

        <!--</md-content>-->

        <!--<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">-->

            <!--<md-toolbar class="md-theme-light">-->
                <!--<h1 class="md-toolbar-tools">Sidenav Right</h1>-->
            <!--</md-toolbar>-->
            <!--<md-content ng-controller="RightCtrl" layout-padding>-->
                <!--<form>-->
                    <!--<md-input-container>-->
                        <!--<label for="testInput">Test input</label>-->
                        <!--<input type="text" id="testInput"-->
                               <!--ng-model="data" md-autofocus>-->
                    <!--</md-input-container>-->
                <!--</form>-->
                <!--<md-button ng-click="close()" class="md-primary">-->
                    <!--Close Sidenav Right-->
                <!--</md-button>-->
            <!--</md-content>-->

        <!--</md-sidenav>-->

    <!--</section>-->

<!--</div>-->




<!--</body>-->
<!--</html>-->



